PORT=3000

# =========================
#       DATABASE
# =========================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha
DB_NAME=ecommerce

# =========================
#       AUTH / JWT
# =========================
JWT_SECRET=sua_chave_de_assinatura_do_token
JWT_EXPIRES_IN=validade_do_token